# Add files here to ignore them from prettier formatting

/dist
/coverage
.eslintrc.json
extensions.json
settings.json
tsconfig.base.json
tsconfig.json
package.json
nx.json
*.md

**/.next/

# Node Modules
**/node_modules/
**/__snapshots__/


# Storybook
**/storybook-static/

# Environment
**/.env

# Docker Environment variable file
**/*.env

# Editor files
**/.vscode/
**/.idea/

**/.yarn/

project.json

**/*tsconfig.*.json
